<!DOCTYPE html>
<html lang="en" class="no-js">
<html lang="en">

<head>
  {% load static %}

</head>







                        <div id="register" class="animate form">
                            <form  action="mysuperscript.php" autocomplete="on"> 
                                <h1> Sign up </h1> 
                                <p> 


                                    <label  class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="usernamesignup" required="required" {{form.username.id._for_input}} type="text"placeholder="mysuperusername690" />




                                </p>
                                <p> 
                                    <label  class="youmail" data-icon="e" > Your email</label>
                                    <input id="emailsignup" name="emailsignup" required="required" type="email" {{form.email.id._for_input}}   placeholder="mysupermail@mail.com"/> 
                                </p>
                                <p> 
                                    <label  class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password"   {{form.password1.id._for_input}} placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label  class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" {{form.password2.id._for_input}} type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>


</html>

 <!-- end of login and register  template -->

