<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if allPosts.has_other_pages %}
          <ul class="pagination justify-content-center mb-4">
              {% if allPosts.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ allPosts.previous_page_number }}">&larr; Older</a>
            </li>
              {% else %}
            <li class="page-item disabled">
              <a class="page-link">&larr; Older</a>
            </li>
              {% endif %}
                {% for i in allPosts.paginator.page_range %}
                    {% if allPosts.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                     <li><a href="?page={{ i }}">{{ i }}</a></li>

                    {% endif %}
                {% endfor %}




              {% if allPosts.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ allPosts.next_page_number}}">Newer &rarr;</a>
            </li>
              {% else %}
            <li class="page-item disabled">
              <a class="page-link">Newer &rarr;</a>
            </li>
              {% endif %}
          </ul>
            {% endif %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</body>
</html>