<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "blog/base.html" %}
{% block main_block %}







     <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Welcome
            <small>{{ user.username }}</small>
          </h1>



				 <div class="card mb-4">

					<img class="card-img-top" src="{{ post_list.image.url }}" alt="Card image cap" width="200" height="270">

					  <div class="card-body">
						  <h2 class="card-title">{{post_list.title}}</h2>
					  <p class="card-text">Category: {{post_list.cat}}</p>
					  <p class="card-text">{{post_list.body}}</p>

						 <div> Related tags:
							{% for t in tag_list %}
							<div>{{t.name}}</div>
						{% endfor %}
						 <div>Likes: {{postlike}}</div> <div>Dislikes: {{postdislike}}</div>

                         </div>

					  </div>	  <!-- card card body-->

					  <div class="card-footer text-muted">
						  Posted on {{post_list.created_at}} by {{post_list.author}}
						</div>







              </div> <!-- card mb4-->

			         <!-- Pagination -->

        </div> <!-- column -->

        <!-- Sidebar Widgets Column -->
{% include "blog/sidebar.html" %}
      </div><!-- /.row -->


    </div> <!--container-->

{% endblock %}

</body>
</html>