
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block main_block %}

	<style>
	.divstyle{
		border: 1px solid black;

	}
	.divstyle1{
		border: 1px solid black;
	}
	.divstylereply{
		border: 1px solid black;
	}
	</style>

<div class="card mb-4">
           <a href="/Post/{{post_list.id}}"> <img class="card-img-top"  alt="Card image cap" width="200" height="270"></a>
            <div class="card-body">
              <h2 class="card-title">{{post_list.title}}</h2>
              <p class="card-text">Category: {{post_list.cat}}</p>
              <p class="card-text">{{post_list.body}}</p>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post_list.created_at}} by {{post_list.author}}
            </div>
		<!-- <div>Likes: {{postlike}}</div> <div>Dislikes: {{postdislike}}</div> -->

	</div>

<p>{{likecount}}</p>
	<button class='likebutton' id='Blog_like{{post_list.id}}' href='likepost' data-catid='{{post_list.id}}' style="background-color: white;">Like</button>
<p>{{dislikecount}}</p>
<button class='dislikebutton' id='Blog_dislike{{post_list.id}}' href='dislikepost' style="background-color: blue;" data-catid='{{post_list.id}}'>Dislike</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>


  $('.likebutton').click(function(){
    var catid = $(this).attr("data-catid")
    $.ajax(
    {
        type:"GET",
        url: "likepost",
        data:{
                 post_id: 1
        },
        success: function( data )
        {
            $( '#like'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
      $('.dislikebutton').attr('disabled', 'disabled');
      $('.likebutton').html('unlike');
});







$('.dislikebutton').click(function(){
    var catid;
    catid = $(this).attr("data-catid");
    $.ajax(
    {
        type:"GET",
        url: "dislikepost",
        data:{
                 post_id: 1
        },
        success: function( data )
        {
            $( '#dislike'+ catid ).remove();
            $( '#message' ).text(data);
        }
     })
       $('.likebutton').attr('disabled', 'disabled');
       $('.dislikebutton').html('like');

});







</script>






























{% endblock %}

</body>


</html>