<!DOCTYPE HTML>
{% load static %}
<html>
<head>
	<link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="{% static 'styles/form.css' %}">
<title>Django project | {% block title %}{% endblock %}</title>
</head>
<body>
<div id="nav">
<a href="registration/home.html">home</a> |
{% if user.is_authenticated %}
welcome {{ user.username }}
(<a href="/logout">logout</a>)
{% else %}
<a href="/login/">login</a> |
<!-- <a href="/loginApp/register/">register</a> -->
{% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <script src="{% static 'scripts/form.js' %}"></script>
</body>
</html>