<!-- <!DOCTYPE html> -->
{% extends "registration/base.html" %}


<!-- <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A Reusable Contact Form In HTML And CSS - reusable form</title>
        
        
    </head> -->
    <body >
        {% block content %}
        {% load static %}
        <div class="container">
            <div id="form-main">
                <div id="form-div">
                    <form class="montform" id="reused_form" method="post">
                        <p class="name">
                            <input name="name" type="text" class="feedback-input" required placeholder="Name"   {{form.username.id_for_input}}   id="name" />
                        </p>
                                        
                                  ay7aga
                        <p class="email">
                            <input name="email" type="email" required class="feedback-input" id="email" placeholder="Email"     {{form.email.id_for_input}}    />
                        </p>
                        <p class="text">
                            <input name="password" class="feedback-input" id="pass1" type="password" placeholder="password"   {{form.password1.id_for_input}}       />
                        </p>
                           <p class="text">
                            <input name="confirm password" {{form.password2.id_for_input}}  class="feedback-input" id="pass2" type="password" placeholder="confirm password"/>
                        </p>
                        <div class="submit">
                            <button type="submit" class="button-blue">SUBMIT</button>
                            <div class="ease"></div>
                        </div>
                    </form>
                    <div id="error_message" style="width:100%; height:100%; display:none; ">
                        <h4>
                            Error
                        </h4>
                        Sorry there was an error sending your form. 
                    </div>
                    <div id="success_message" style="width:100%; height:100%; display:none; "> <h2>Success! Your Message was Sent Successfully.</h2> </div>
                </div>
            </div>
        </div>
                {% endblock %}
    </body>
<!-- </html> -->
